@import "tailwindcss";

:root {
  --background: #f3faef;
  --foreground: #1f1f1f;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0f140a;
    --foreground: #eaeaea;
  }
}

@theme {
  --font-serif: "DM Serif Text", Jomolhari, Helvetica, sans-serif;

  --color-marcelo-green-200: #e3eedf;
  --color-marcelo-green-800: #192216;
}

* {
  transition: all 300ms ease-out;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Poppins, "Roboto Sans", Arial, Helvetica, sans-serif;
}
